.header__lang-link {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 568px) {
    .header__lang-link-RU {
        font-size: 18px;
        line-height: 20px;
    }
}
/*Здесь решил реализовать через :focus, но если надо через 
отдельный модификатор, без проблем добавлю модификатор*/
.header__lang-link:focus {
    text-decoration: underline; 
}
