.footer__author {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-align: right;
}

@media screen and (max-width: 984px) {
    .footer__author {
        font-size: max(14px, 1.99vw);
    }
}

@media screen and (max-width: 568px) {
    .footer__author {
        font-size: 14px;
        line-height: 14px;
        text-align: left;
    }
}
